<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>

	    <div>
	        <p>Hi there!</p>
	        <p>It works!</p>
	        <h1>Blog:Part One</h1>
	        <strong>This is a blog about:</strong>
	        <ul><li>python</li><li>hemma</li><li>django</li></ul>
	    </div>    

	    <div>
	        <p>Hi there!</p>
	        <p>It works!</p>
	        <h1>Blog:Part One</h1>
	        <strong>This is a blog about:</strong>
	        <ul><li>python</li><li>hemma</li><li>django</li></ul>
	    </div>    
    

    </body>
</html>